---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header> -->

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>

<!-- 评论 -->
<div class="comments" id="comments" style="margin-top: 70px;">
  <div id="vcomments"></div>
</div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="https://unpkg.com/valine/dist/Valine.min.js"></script>
<script>

  var GUEST = ['nick','mail','link'];
  var guest = 'nick,mail,link';
  guest = guest.split(',').filter(item=>{
    return GUEST.indexOf(item)>-1;
  });
  new Valine({
    el:'#comments',
    verify: false,
    notify: true,
    appId:'gs4XxRz1HG66wfK2k5su02D5-gzGzoHsz',
    appKey:'SfmoXDMrxNUPUHWIJIoHlsY8',
    placeholder:'说点...',
    avatar:'retro',
    guest_info:guest,
    pageSize:'10' || 10
  })
</script>
